/*mana blue: #AAE0FA
mana red: #F9AA8F*/

body {
	background-color: #333;
	/*background-image: url("img/rooftop.jpg");*/
	background-position: center;
	background-size: cover;

	background-repeat: no-repeat;
	color: #fff;
}

#container {
	background-color: rgba(51,51,51,.5);
	width: 90%;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 25px;
}

/*sharethis*/
.st-btn {
  background-color: #333 !important;
}
.st-label, .st-shares {
	color: #fff;
}

::-moz-selection {
  background: #ccc;
}
::selection {
  background: #ccc;
}

img,br {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

label, summary {
	background-color: rgba(51,51,51,.75);
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

summary {
	margin-top: 10px;
}

.modal-content {
	background-color: #333;
}
.close, .close:hover, .close:focus {
	color: #fff;
	text-shadow: 0px 0px 0px #fff !important;
}

kbd {
	background-color: #fff;
	color: #333;
}

input:focus, textarea:focus, button:focus, summary:focus {
	outline: 5px solid #666 !important;
}

#stormInput {
	background-color: #333;
	color: #fff;
}

input[type=number], textarea {
	text-align: center;
	font-weight: 600;
}

.btn-plus, .btn-minus {
	color: #fff;
	background-color: #333;
}
.btn-plus:hover, .btn-minus:hover {
	background-color: #999;
}
.btn-plus:active, .btn-minus:active {
	transform: scale(1.1);
}

.btn-bottom {
	margin: 5px;
}

hr {
	border-color: #fff;
	height: 2px;
}

#manaDiv img, #stormDiv img {
	margin-right: -8px;
}
