body {
	background-color: #333;
	background-image: url("img/rooftop.jpg");
	background-position: center;
	background-size: 100% 100%;

	background-repeat: no-repeat;
	color: #fff;
}

label, #infoDiv {
	background-color: rgba(51,51,51,.75);
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

kbd {
	background-color: #333;
}

input[type=number] {
	text-align: center;
}

.btn-plus, .btn-minus {
	color: #fff;
	background-color: #333;
}
.btn-plus:hover, .btn-minus:hover {
	background-color: #999;

}
.btn-plus:active, .btn-minus:active {
	transform: scale(1.1);
}

hr {
	border-color: #fff;
	height: 2px;
}

#manaDiv img {
	margin-right: -8px;
}
