/*mana blue: #AAE0FA
mana red: #F9AA8F*/

body {
	background-color: #333;
	/*background-image: url("img/rooftop.jpg");*/
	background-position: center;
	background-size: cover;

	background-repeat: no-repeat;
	color: #fff;
}

::-moz-selection {
  background: #ccc;
}
::selection {
  background: #ccc;
}

img,br {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

label, #infoDiv {
	background-color: rgba(51,51,51,.75);
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

kbd {
	background-color: #333;
}

#stormInput {
	background-color: #333;
	color: #fff;
}

input[type=number], textarea {
	text-align: center;
}

.btn-plus, .btn-minus {
	color: #fff;
	background-color: #333;
}
.btn-plus:hover, .btn-minus:hover {
	background-color: #999;

}
.btn-plus:active, .btn-minus:active {
	transform: scale(1.1);
}

hr {
	border-color: #fff;
	height: 2px;
}

#manaDiv img {
	margin-right: -8px;
}
